<h3>Amusement Park</h3>
<p>Name: <%= @user.name %></p>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %> inches</p>
<p><input name="commit" type="submit" value="Sign In"></p>

<div class="field">
  Toggle navigation Home
  <p><label for=":name">Select your name</label></p>
  <p><select id="user_id" name="user[id]"></p>
</div>
