<%= form_for @attraction, url: "/attractions/#{@attraction.id}", :method => :patch do |f| %>
  <p><%= f.label :name %>:</p>
  <p><%= f.text_field :name %></p>

  <%= f.submit "Update Attraction" %>
<% end %>
